body, html{
    max-width: 1440px;
    background-color: #710e09;
    color: #fff;
    margin: 0 auto;
    font-family: 'Chillax', sans-serif;
    position: relative;
    overflow-x: hidden;
}
.landing-img{
    background-image: url("./assets/landing-bg.webp");
}
/* Hide see button for all browser */
/* For modern browsers */
input[type="password"]::-webkit-visible-password {
    display: none;
}
/* For Firefox */
input[type="password"]::-moz-visible-password {
    display: none;
}  
/* For Internet Explorer */
  input[type="password"]::-ms-reveal {
    display: none;
}  
/* Standard */
input[type="password"]::-ms-clear {
    display: none;
}